<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Prosoft Vue Calendar</title>
    <link rel="stylesheet" href="style.css" >
  </head>
  <body>
    <div id="hello-app">
      <h1>Prosoft Code Challenge</h1>
    </div>

    <div id="calendar-app">
      <form >
        <p>Date:
          <input 
            type="text"
            v-model="selectedDay"
            placeholder="mm/dd/yyyy"
            />
        </p>
        <p>Number of Days:
          <input 
            type="number"
            v-model="selectedLength"
            />
        </p>
        <p>Country Code:
          <input
            type="text"
            v-model="countryCode"
            />
        </p>
      </form>
      <div class="calendar">
        <div>
          <div class="days dayname">S</div>
          <div class="days dayname">M</div>
          <div class="days dayname">T</div>
          <div class="days dayname">W</div>
          <div class="days dayname">T</div>
          <div class="days dayname">F</div>
          <div class="days dayname">S</div>
        </div>
        <div v-for="month in makeMonth">
          <div class="month-title">{{ month.title }} {{ month.year }}</div>
          <div class="month">
            <div 
              v-for="day in month.lead" 
              class="days"
              >
              &nbsp;
            </div>
            <div 
              v-for="day in month.days"
              v-text="day + month.start - 1"
              class="days active"
              >
            </div>
            <div 
              v-for="day in month.tail"
              class="days tail"
              >
              &nbsp;
            </div>
          </div>
        </div>
      </div>
    </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
  <script src="index.js"></script>
  </body>

</html>
